@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
  height: 100%;
  background-color: darkgrey;
  font-family: 'Roboto', sans-serif;
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.content {
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 30px;
  background-color: whitesmoke;
  box-shadow: 0 0 15px -5px black;
}

div.identificacao {
  margin-bottom: 25px;
  margin-top: 25px;
}

div.threads {
  height: 75%;
  max-height: 70%;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* overflow-x: hidden;
  overflow-y: auto; */
  overflow-y: auto;
  padding: 15px;
  padding-bottom: 0px;
}

div.thread {
  border: 1px solid #ddd;
  border-radius: 1px;
  box-shadow: 0px 0px 15px -10px black;
  margin-bottom: 15px;
  padding: 10px;
  height: auto;
}

div.inputAreaThread {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.mensagensThread {
  height: 190px;
  overflow-y: auto;
  margin-bottom: 10px;
  box-shadow: inset -2px -15px 16px -25px black;
  padding: 10px;
}

div.novaThread {
  margin-top: 25px;
}

/* form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
} */

input {
  width: 15vw;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 2vw;
  padding: 0 1vw;
  margin-right: 5px;
  font-size: 1vw;
  font-family: 'Roboto', sans-serif;
}

button {
  width: 5vw;
  height: 2vw;
  font-size: 1vw;
  background: #069;
  text-align: center;
  /* line-height: 5vw; */
  font-weight: bold;
  color: #FFF;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

div.identificacao input {
  width: 15vw;
  margin-right: 5px;
}

div.identificacao button {
  width: 3vw;
}

div.thread textarea {
  width: 90%;
  height: 2vw;
  resize: vertical;
  margin-right: 1%;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  white-space: pre-wrap;
}

div.thread button {
  width: 9%;
  height: 2vw;
}

div.novaThread button {
  width: 14vw;
}
